body {
    height: 100vh;
    margin: 0;
    background-color: #F6F5F2;
}

.Discount {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 0px 15px;
    color: #5D866C;
}

.Navigation_Bar {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 15% 10% 10% 10% 10% 10% 15% 20%;
    grid-template-areas: 
    "LOGO NAV_ELEMENTS Nav_Element_input Nav_Element_order";
    gap: 1em;
    position: sticky;
    align-items: center;
   
    border-top: 1px Solid #81A6C6;
    border-bottom: 1px solid #81A6C6;
    background-color: #F6F5F2;
} 



.Nav_Element_image {
    grid-area: 'LOGO';
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: #81A6C6;
    width: 100%;    
}


.Nav_Element {
    grid-area: 'Nav_Element_input';
}

.Nav_Element {
    display: flex;
    flex-direction: row;
    font: bold;
    cursor: pointer;
    text-decoration: none;
    color: #5D866C;
    justify-items:center

}

.Nav_Element_order {
    grid-area: 'Nav_Element_order';
    text-decoration: none;
    border-radius: 20px;
}
.Nav_Element:hover {
    color: #5D866C;
    text-decoration: underline #5D866C;    
}





.Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'CONTENT-1 CONTENT-1 CONTENT-1'
    'CONTENT-PICTURE CONTENT-PICTURE CONTENT-PICTURE'
    'CONTENT-2 CONTENT-3 CONTENT-4';
}

.Content-Picture {
    height: 300px;
    width: 200px;
}



        